@use "../global/index.scss" as *;

.advantages {
  background-color: $lightgrey;
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 46px 20px 0 20px;
  box-sizing: border-box;
}

.advantages-slogan {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-bottom: 70px;
  text-align: center;
}

.advantages__title {
  margin: 0;
  color: $darkblue;
}

.advantages__container-list {
  display: flex;
  flex-direction: column;
}

.advantages__list {
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 43px;
  text-align: center;
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 24px;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.advantages__description {
  margin: 0;
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.advantages__list-iphones {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.advantages__image--hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    width: $tablet-width;
    padding: 58px 20px 0 20px;
  }

  .advantages__container-list {
    flex-direction: row;
  }

  .advantages-slogan {
    gap: normal;
    margin-bottom: 122px;
  }

  .advantages__list {
    width: 310px;
    order: 2;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    width: $desktop-width;
    padding: 77px 130px 0 130px;
  }

  .advantages-slogan {
    margin-bottom: 72px;
  }

  .advantages__container-list {
    flex-direction: column;
  }

  .advantages__list {
    width: 940px;
    flex-direction: row;
    gap: 68px;
    text-align: center;
  }

  .advantages__item {
    width: 300px;
  }

  .advantages__list-iphones {
    gap: 20px;
  }

  .advantages__image--hidden {
    display: block;
  }
}
