@use "../global/index.scss" as *;

.advantages {
  background-color: $lightgrey;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 250px;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 86%, 0 100%);
    z-index: 0;
  }
}

.advantages__wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;
  padding: 40px 20px 0 20px;
  position: relative;
  z-index: 1;
}

.advantages-slogan {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-bottom: 113px;
  text-align: center;
}

.advantages__title {
  margin: 0;
  color: $darkblue;
}

.advantages__container-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.advantages__br {
  display: none;
}

.advantages__item-image {
  display: none;
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 13px;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.advantages__description {
  margin: 0;
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .advantages::before {
    height: 290px;
    clip-path: polygon(0 0, 100% 0%, 100% 82%, 0 100%);
  }

  .advantages__wrapper {
    width: $tablet-wrapper;
    padding: 47px 20px 0 20px;
  }

  .advantages__container-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .advantages-slogan {
    gap: normal;
    margin-bottom: 35px;
  }

  .advantages__list {
    width: 310px;
    order: 2;
    text-align: start;
    margin: 0;
    padding-top: 70px;
    gap: 33px;
  }

  .advantages__br--tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .advantages::before {
    height: 419px;
    clip-path: polygon(0 0, 100% 0%, 100% 76%, 0 100%);
  }

  .advantages__wrapper {
    width: $desktop-wrapper;
    padding: 62px 20px 0 20px;
  }

  .advantages-slogan {
    margin-bottom: -72px;
  }

  .advantages__container-list {
    flex-direction: column;
    gap: 59px;
  }

  .advantages__list {
    width: $desktop-wrapper;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    margin-bottom: 59px;
  }

  .advantages__item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__item-image {
    display: block;
  }

  .advantages__text {
    box-sizing: border-box;
    padding: 59px 24px 0 24px;
    background-color: $lightgrey;
    margin-top: -82px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      left: 0;
      height: 8px;
      width: 100%;
      background: linear-gradient(90deg, transparentize($black, 1) 0%, $black 49.8%, transparentize($black, 1) 93.23%);
      opacity: 0.3;
      filter: blur(4px);
    }
  }

  .advantages__item-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 21px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__image {
    display: none;
  }

  .advantages__br {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
