@use "../global/index.scss" as *;

.contest-form__user {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 44px;
}

.contest-form__label {
  color: $pink;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.contest-form__input {
  color: $darkblue;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 2px $darkgrey solid;

  &::placeholder {
    color: $darkblue;
  }
}

.contest-form__group {
  margin: 0;
  border: none;
  padding: 44px 0;

  &--background {
    background-color: $lightgrey;
  }
}

.contest-form__legend {
  color: $pink;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.contest-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contest-form__checkbox-label {
  color: $darkblue;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.contest-form__contacts {
  margin: 0;
  padding: 42px 0 44px 0;
  border: none;
}

.contest-form__radio-label {
  color: $darkblue;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.contest-form__textarea {
  color: $darkblue;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 2px $darkgrey solid;

  &::placeholder {
    color: $darkblue;
  }
}

.contest-form__send {
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background-color: $button-green;
  border: 2px solid $button-green;
}

.contest-form__note {
  color: $darkblue;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
