@use "../global/index.scss" as *;

.contest-form__inner {
  display: flex;
  flex-direction: column;
  gap: 43px;
  margin-bottom: 52px;
}

.contest-form__group {
  margin: 0;
  padding: 0;
  border: none;

  &--background {
    background-color: $lightgrey;
  }
}

.contest-form__username {
  margin: 0 auto;
  width: 320px;
  padding: 0 22px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contest-form__connect {
  margin: 0 auto;
  width: 320px;
  padding: 0 22px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contest-form__feedback {
  margin: 0 auto;
  width: 320px;
  padding: 0 22px;
  box-sizing: border-box;
}

.contest-form__label {
  color: $pink;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.contest-form__input {
  color: $darkblue;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 2px $darkgrey solid;

  &::placeholder {
    color: $darkblue;
  }
}

.contest-form__legend {
  color: $pink;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 320px;
  padding: 0 22px;
  box-sizing: border-box;
  text-align: center;

  &--display {
    display: none;
  }
}

.contest-form__list {
  margin: 0 auto;
  padding: 0 22px;
  list-style-type: none;
  width: 320px;
  box-sizing: border-box;
}

.contest-form__checkbox-label {
  color: $darkblue;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.contest-form__radio-label {
  color: $darkblue;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.contest-form__textarea {
  color: $darkblue;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 2px $darkgrey solid;

  &::placeholder {
    color: $darkblue;
  }
}

.contest-form__buttons {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  padding: 0 22px;
  text-align: center;
}

.contest-form__send {
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background-color: $button-green;
  border: 2px solid $button-green;
}

.contest-form__note {
  margin: 0;
  color: $darkblue;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .contest-form__inner {
    gap: 65px;
    margin: 0 auto 70px;
    width: $tablet-width;
    box-sizing: border-box;
    padding: 0 22px;
  }

  .contest-form__username {
    flex-direction: row;
    width: 618px;
    padding: 0;
  }

  .contest-form__feedback {
    width: 616px;
    padding: 0 60px;
  }

  .contest-form__connect {
    width: 616px;
    padding: 0 60px;
  }

  .contest-form__list {
    width: 616px;
    padding: 0 60px;
  }

  .contest-form__group {
    &--background {
      background-color: $white;
    }

    &--border {
      border: 2px solid $darkgrey;
    }

    &--user {
      order: -3;
    }

    &--contacts {
      order: -1;
    }

    &--app {
      order: -2;
    }
  }

  .contest-form__legend--display {
    display: block;
  }

  .contest-form__buttons {
    flex-direction: row;
    justify-content: space-between;
    gap: normal;
    width: $tablet-width;
    padding: 0 19px 0 22px;
  }
}

@media (min-width: $desktop-width) {
  .contest-form__inner {
    // display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px 74px;
    width: $desktop-width;
    padding: 0 130px;
  }

  .contest-form__group {
    &--contacts {
      grid-column: -1 / 1;
      // display: flex;
      gap: 74px;
    }

    &--achievements {
      grid-column: -1 / 1;
    }

    &--emotions {
      grid-column: -1 / 1;
    }
  }

  .contest-form__username {
    width: 433px;
  }

  .contest-form__feedback {
    width: $tablet-width;
    padding: 0 60px;
  }

  .contest-form__connect {
    width: 936px;
    padding: 0 60px;
  }

  .contest-form__list--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contest-form__buttons {
    width: $desktop-width;
    padding: 0 130px;
  }
}
