@use "../global/index.scss" as *;

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 50px 20px 41px 20px;
  box-sizing: border-box;
}

.contacts__title {
  margin: 0 auto;
  color: $darkblue;
  margin-bottom: 45px;
  text-align: center;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 35px;
  text-align: center;
}

.contacts__item {
  display: flex;
  flex-direction: column;
}

.contacts__subtitle {
  color: $darkblue;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.contacts-text {
  color: $pink;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: $tablet-width;
    padding: 55px 20px 30px 20px;
  }

  .contacts__list {
    grid-template-columns: 1fr 1fr;
  }

  .contacts__item {
    align-items: center;
  }

  .contacts__item--grid {
    grid-column: 1 / -1;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: $desktop-width;
    padding: 74px 130px 20px 130px;
  }

  .contacts__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contacts__item--grid {
    grid-column: auto;
  }
}
