@use "../global/index.scss" as *;

.contest-form__inner {
  display: flex;
  flex-direction: column;
  gap: 43px;
  margin-bottom: 52px;
}

.contest-form__group {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

  &--background {
    background-color: $lightgrey;
  }
}

.contest-form__username {
  margin: 0 auto;
  width: $mobile-wrapper;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.contest-form__username .contest-form__input {
  width: 100%;
}

.contest-form__username:not(:last-child) {
  margin-bottom: 29px;
}

.contest-form__item {
  margin-bottom: 47px;
}

.contest-form__checkbox {
  position: relative;
  padding-left: 60px;
}

.contest-form__checkbox-input:checked + .contest-form__checkbox-mark {
  background: url("../../img/tick.svg") $white no-repeat center;
}

.contest-form__checkbox-mark {
  position: absolute;
  top: -10px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: $white;
  border: 2px solid $darkgrey;
  border-radius: 1px;
}

.contest-form__connect-list {
  margin: 0 auto;
  width: $mobile-wrapper;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 29px;
}

.contest-form__connect-item {
  display: flex;
  flex-direction: column;
}

.contest-form__radio {
  position: relative;
  padding-left: 90px;
}

.contest-form__radio-mark {
  position: absolute;
  top: -10px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: $white;
  border: 2px solid $darkgrey;
  border-radius: 50%;
}

.contest-form__radio-input:checked + .contest-form__radio-mark::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;
}

.contest-form__feedback {
  margin: 0 auto;
  width: $mobile-wrapper;
  padding: 0 20px;
}

.contest-form__feedback label {
  margin: 0;
}

.contest-form__label {
  color: $pink;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin-left: 23px;
}

.contest-form__input {
  color: $darkblue;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 2px $darkgrey solid;
  padding: 13px 20px;

  &::placeholder {
    color: $darkblue;
  }
}

.contest-form__legend {
  color: $pink;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: $mobile-wrapper;
  padding: 0 20px;
  text-align: center;

  &--display {
    display: none;
  }

  &--achievements {
    margin: 42px auto 44px auto;
  }

  &--app {
    margin: 42px auto 40px auto;
  }

  &--emotions {
    margin: 0 auto 20px auto;
  }
}

.contest-form__list {
  margin: 0 auto;
  padding: 0 20px;
  list-style-type: none;
  width: $mobile-wrapper;
}

.contest-form__checkbox-label {
  color: $darkblue;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.contest-form__radio-label {
  color: $darkblue;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.contest-form__textarea {
  color: $darkblue;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 2px $darkgrey solid;
  resize: none;
  width: 276px;
  height: 200px;
  padding: 22px 20px;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;

  &::placeholder {
    color: $darkblue;
  }
}

.contest-form__buttons {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
}

.contest-form__send {
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background-color: $button-green;
  border: 2px solid $button-green;
  border-radius: 1px;
  cursor: pointer;
  padding: 13px 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

.contest-form__note {
  margin: 0;
  color: $darkblue;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .contest-form__inner {
    gap: 65px;
    margin: 0 auto 70px;
    width: $tablet-wrapper;
    padding: 0 20px;
  }

  .contest-form__legend {
    &--achievements {
      width: 374px;
      margin: 0 auto;
      padding: 14px 31px;
      background-color: $white;
      position: absolute;
      top: -23px;
      left: 90px;
    }

    &--app {
      width: 318px;
      margin: 0 auto;
      padding: 14px 25px;
      background-color: $white;
      position: absolute;
      top: -23px;
      left: 124px;
    }

    &--emotions {
      width: 184px;
      margin: 0 auto;
      padding: 14px 38px;
      background-color: $white;
      position: absolute;
      top: -23px;
      left: 178px;
    }

    &--contacts {
      width: 198px;
      margin: 0 auto;
      padding: 14px 31px;
      background-color: $white;
      position: absolute;
      top: -23px;
      left: 178px;
    }

    &--display {
      display: block;
    }
  }

  .contest-form__username {
    flex-direction: row;
    width: 618px;
    padding: 0;
    align-items: center;
    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 56px;
    }
  }

  .contest-form__username .contest-form__label {
    margin: 0;
  }

  .contest-form__feedback {
    width: 500px;
    padding: 47px 60px 53px 60px;
  }

  .contest-form__textarea {
    width: 496px;
    height: 189px;
  }

  .contest-form__list {
    width: 500px;
    padding: 54px 60px;

    &--flex {
      padding: 54px 60px 50px 60px;
    }
  }

  .contest-form__item {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 47px;
    }
  }

  .contest-form__connect-list {
    width: 500px;
    padding: 46px 60px 37px 60px;
  }

  .contest-form__connect-item {
    flex-direction: column-reverse;
    position: relative;
    gap: 22px;

    &--phone::before {
      content: "";
      position: absolute;
      width: 59px;
      height: 59px;
      top: 0;
      right: 0;
      background: url("../../img/phone-icon.svg") $darkgrey no-repeat center;
    }

    &--mail::before {
      content: "";
      position: absolute;
      width: 59px;
      height: 59px;
      top: 0;
      right: 0;
      background: url("../../img/mail-icon.svg") $darkgrey no-repeat center;
    }
  }

  .contest-form__group {
    width: $tablet-wrapper;
    position: relative;

    &--background {
      background-color: $white;
    }

    &--border {
      border: 2px solid $darkgrey;
    }

    &--user {
      order: -3;
    }

    &--contacts {
      order: -1;
    }

    &--app {
      order: -2;
    }
  }

  .contest-form__buttons {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: normal;
    width: $tablet-width;
    padding: 0 19px 0 20px;
  }

  .contest-form__send {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .contest-form__inner {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 74px;
    width: $desktop-wrapper;
    padding: 0 20px;
  }

  .contest-form__group {
    width: $desktop-wrapper;

    &--user {
      width: 433px;
      bottom: -10px;
    }

    &--app {
      width: 431px;
    }
  }

  .contest-form__legend {
    &--achievements {
      top: -23px;
      left: 250px;
    }

    &--app {
      top: -23px;
      left: 32px;
    }

    &--emotions {
      top: -23px;
      left: 338px;
    }

    &--contacts {
      top: -23px;
      left: 338px;
    }
  }

  .contest-form__username {
    width: 433px;
  }

  .contest-form__feedback {
    width: 816px;
    padding: 44px 60px 45px 60px;
  }

  .contest-form__textarea {
    width: 812px;
    height: 124px;
  }

  .contest-form__connect-list {
    width: 816px;
    flex-direction: row;
    gap: 74px;
  }

  .contest-form__connect-item {
    width: 371px;
  }

  .contest-form__radio {
    padding-left: 59px;
  }

  .contest-form__list {
    width: 200px;
    padding: 54px 60px 54px 74px;
    margin: 0;

    &--flex {
      width: 817px;
      height: 120px;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      flex-wrap: wrap;
      padding: 54px 59px 57px 60px;
    }

    &--flex .contest-form__item {
      margin: 0;
      padding-bottom: 56px;
      width: fit-content;
    }

    &--flex .contest-form__item:nth-child(2n) {
      padding: 0;
    }
  }

  .contest-form__buttons {
    width: $desktop-wrapper;
    padding: 0 20px;
    box-sizing: content-box;
  }
}
