@use "../global/index.scss" as *;

.copyright__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.copyright__text {
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.copyright__icon {
  fill: $pink;

  &:hover {
    fill: $darkblue;
  }

  &:active {
    fill: $darkblue;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright__link {
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
  }

  .copyright__link {
    margin-top: 8px;
  }
}
