@use "../global/index.scss" as *;

.gallery__wrapper {
  margin: 0 auto;
  padding: 54px 0 49px 0;
}

.gallery__title {
  width: $mobile-wrapper;
  margin: 0 auto;
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 60px;
  text-align: center;
}

.gallery__photo {
  display: block;

  &--panorama {
    width: 100%;
  }
}

.gallery__photo-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 0;

  &--panorama::before {
    content: "Панорама дня";
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 36px;
    color: $white;
    text-align: center;
    background-color: $pink;
    width: 140px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 20px;
  }
}

.gallery__description {
  background-color: $lightgrey;
  padding: 25px 10px 25px 17px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &--panorama {
    width: 280px;
    align-self: center;
  }
}

.gallery__username {
  color: $darkblue;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.gallery__time-ago {
  color: $darkblue;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.gallery__message-text {
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}

.gallery__like-button {
  color: $pink;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding-left: 31px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("../../img/like.svg");
  }
}

.gallery__list {
  width: $mobile-wrapper;
  margin: 0 auto;
  padding: 20px 0 0 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: $tablet-width) {
  .gallery__wrapper {
    padding: 100px 0 73px 0;
  }

  .gallery__photo-wrapper--panorama::before {
    top: 57px;
  }

  .gallery__title {
    width: $tablet-wrapper;
    font-size: 18px;
    margin-bottom: 85px;
  }

  .gallery__description {
    min-height: 155px;
    padding: 30px;

    &--panorama {
      padding: 30px 30px 32px 30px;
      min-height: 121px;
      width: $tablet-wrapper;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .gallery__description--panorama .gallery__message-text {
    margin: 0;
    order: 3;
  }

  .gallery__description--panorama .gallery__like-button {
    order: 2;
  }

  .gallery__message-text {
    margin: 0;
  }

  .gallery__like-button {
    margin-top: auto;
    padding-left: 0;
    padding-right: 29px;

    &::before {
      left: auto;
      right: 0;
    }
  }

  .gallery__list {
    padding-top: 50px;
    width: $tablet-wrapper;
    grid-template-columns: 1fr 1fr;
  }

  .gallery__item {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__wrapper {
    padding: 100px 0 67px 0;
  }

  .gallery__photo-wrapper--panorama::before {
    top: 54px;
    right: 130px;
  }

  .gallery__description--panorama {
    width: $desktop-wrapper;
  }

  .gallery__list {
    width: $desktop-wrapper;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
