@use "../global/index.scss" as *;

.gallery__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 54px 20px 49px 20px;
  box-sizing: border-box;
}

.gallery__title {
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0 20px;
  text-align: center;
}

.gallery__photo-wrapper {
  display: flex;
  flex-direction: column;
}

.gallery__description {
  background-color: $lightgrey;
  padding: 25px 0;

  &--panorama {
    width: 280px;
    align-self: center;
  }
}

.gallery__username {
  color: $darkblue;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.gallery__time-ago {
  color: $darkblue;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.gallery__message-text {
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.gallery__like-button {
  color: $pink;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.gallery__list {
  margin: 0 auto;
  padding: 20px 0 0 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: $tablet-width) {
  .gallery__wrapper {
    width: $tablet-width;
    padding: 100px 0 73px 0;
  }

  .gallery__description--panorama {
    width: 620px;
  }

  .gallery__list {
    padding-top: 50px;
    width: 620px;
    grid-template-columns: 1fr 1fr;
  }

  .gallery__item {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__wrapper {
    width: $desktop-width;
    padding: 100px 0 67px 0;
  }

  .gallery__description--panorama {
    width: 940px;
  }

  .gallery__list {
    width: 940px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
