@use "../global/index.scss" as *;

.gallery__wrapper {
  margin: 0 auto;
  padding: 54px 0 49px 0;
}

.gallery__title {
  width: $mobile-wrapper;
  margin: 0 auto;
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 60px;
  text-align: center;
}

.gallery__panorama .gallery__photo {
  margin: 0 auto;
}

.gallery__photo-wrapper {
  display: flex;
  flex-direction: column;
}

.gallery__description {
  background-color: $lightgrey;
  padding: 25px 10px 25px 17px;
  box-sizing: border-box;

  &--panorama {
    width: 280px;
    align-self: center;
  }
}

.gallery__username {
  color: $darkblue;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.gallery__time-ago {
  color: $darkblue;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.gallery__message-text {
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}

.gallery__like-button {
  color: $pink;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
}

.gallery__list {
  width: $mobile-wrapper;
  margin: 0 auto;
  padding: 20px 0 0 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: $tablet-width) {
  .gallery__wrapper {
    padding: 100px 20px 73px 20px;
  }

  .gallery__title {
    width: $tablet-wrapper;
    font-size: 18px;
    margin-bottom: 85px;
  }

  .gallery__description {
    min-height: 155px;

    &--panorama {
      min-height: 121px;
      width: $tablet-wrapper;
    }
  }

  .gallery__list {
    padding-top: 50px;
    width: $tablet-wrapper;
    grid-template-columns: 1fr 1fr;
  }

  .gallery__item {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__wrapper {
    padding: 100px 20px 67px 20px;
  }

  .gallery__description--panorama {
    width: $desktop-wrapper;
  }

  .gallery__list {
    width: $desktop-wrapper;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
