@use "../global/index.scss" as *;

.intro__title {
  color: $white;
}

.intro__download-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $white;
  text-decoration: none;
}

.intro__download-list {
  margin: 53px 0 28px 0;
  padding: 0;
  list-style-type: none;
}

.intro__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white;
}
