@use "../global/index.scss" as *;

.intro__wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.intro__title {
  color: $white;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
}

.intro__download-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $white;
  text-decoration: none;
}

.intro__download-list {
  margin: 53px 0 28px 0;
  padding: 0;
  list-style-type: none;
}

.intro__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white;
}

@media (min-width: $tablet-width) {
  .intro__wrapper {
    width: $tablet-width;
    padding: 74px 0 120px 0;

    &--index {
      padding: 0 20px;
    }

    &--index .intro__title {
      width: 300px;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }

  .intro__wrapper-description {
    width: 300px;
    z-index: 1;
    text-align: center;
  }

  .intro__image {
    position: absolute;
    right: 0px;
    z-index: 0;
  }
}

@media (min-width: $desktop-width) {
  .intro__wrapper {
    width: $desktop-width;
    padding: 114px 0 130px 0;

    &--index {
      padding: 0 130px;
    }
  }
}
