@use "../global/index.scss" as *;

.footer-wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;
  padding: 40px 20px 40px 20px;
  text-align: center;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .footer-wrapper {
    width: $tablet-wrapper;
    padding: 36px 20px 37px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .footer-wrapper {
    width: $desktop-wrapper;
    padding: 70px 20px 72px 20px;
  }
}
