@use "../global/index.scss" as *;

.main-header {
  background: rgba($black, 0.3);
  z-index: 2;
}

.main-header__wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}

.main-header__logo {
  height: 66px;
}

.main-header__logo-image {
  width: 74px;
  height: 66px;
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    width: $tablet-wrapper;
  }

  .main-header__logo {
    height: 110px;
  }

  .main-header__logo-image {
    width: 145px;
    height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    width: $desktop-wrapper;
  }

  .main-header__logo-image {
    width: 147px;
  }
}
