@use "../global/index.scss" as *;

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
}

.main-nav__link {
  color: $white;
  text-decoration: none;
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    width: 620px;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
  }
}
