@use "../global/index.scss" as *;

.footer-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 40px 70px 40px 70px;
  box-sizing: border-box;
  text-align: center;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .footer-wrapper {
    width: $tablet-width;
    padding: 36px 20px 37px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .footer-wrapper {
    width: $desktop-width;
    padding: 70px 130px 72px 130px;
  }
}
