@use "../global/index.scss" as *;

.footer-wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;
  padding: 33px 20px 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__logo-image {
  fill: $darkblue;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $darkblue;
    opacity: 0.3;
  }

  &--desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .footer-wrapper {
    width: $tablet-wrapper;
    padding: 0 20px 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer-wrapper {
    width: $desktop-wrapper;
    padding: 58px 20px 72px 20px;
  }

  .main-footer__logo-image {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
