@use "../global/index.scss" as *;

.main-header {
  background: rgba($black, 0.3);
  z-index: 2;
}

.main-header__wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  box-sizing: border-box;
}

.main-header__logo {
  height: 66px;
  z-index: 11;
  position: relative;
}

.main-header__logo-image {
  fill: $white;
  height: 66px;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $white;
    opacity: 0.3;
  }

  &--tablet, &--desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    height: 110px;
  }

  .main-header__logo-image {
    height: 110px;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    width: $desktop-wrapper;
  }

  .main-header__logo-image {
    width: 147px;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
