@use "../global/index.scss" as *;

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 100;
  display: block;
  width: 50px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: $white;
  border-radius: 1px;
  box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $pink;
  box-shadow:
    0 10px 0 0 $pink,
    0 20px 0 0 $pink;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba($pink, 0.3);
  box-shadow:
    0 10px 0 0 rgba($pink, 0.3),
    0 20px 0 0 rgba($pink, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 21px;
  right: 20px;
  width: 29px;
  height: 29px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 11px;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $pink;
  }

  &:active::before,
  &:active::after {
    background-color: rgba($pink, 0.3);
  }
}

.main-nav--closed .main-nav__item {
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.main-nav__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  min-height: 63px;
  background-color: $darkblue;
  box-shadow:
    0 1px 0 $black,
    inset 0 1px 0 rgba($white, 0.15);
  border-top: 1px solid #000000;
  width: 100%;
}

.main-nav__link {
  color: $white;
  text-decoration: none;
  display: block;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs {
  width: 100vw;
}

.main-nav--nojs .main-nav__list {
  position: relative;
}

.main-nav--nojs .main-nav__item {
  display: block;
}

.main-nav__item--logo {
  height: 69px;
}

.main-nav--opened .main-nav__item--logo {
  background: #283645;
  box-shadow: 0 1px 0 #000000;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    top: 43px;
  }

  .main-nav--opened .main-nav__toggle {
    top: 43px;
  }

  .main-nav__item--logo {
    height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs {
    align-items: flex-end;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
  }

  .main-nav--opened .main-nav__item--logo {
    display: none;
  }

  .main-nav__list {
    position: static;
    width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__item {
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
    background-color: transparent;
    box-shadow: none;
    border: none;
    min-height: 0;
    width: auto;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 34px;
        left: 0;
        height: 2px;
        background: $white;
      }
    }

    &:hover::after {
      background: $pink;
    }
  }

  .main-nav__link {
    padding: 44px 0 48px 0;

    &:hover {
      color: $pink;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  .main-nav--closed .main-nav__item {
    display: block;
  }
}
