@use "../global/index.scss" as *;

.modal {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  &--display {
    display: block;
  }
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  box-shadow: 0 7px 15px transparentize($shadow, 0.85);
  border-radius: 1px;
}

.modal__title {
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 38px 0 25px 0;
  padding: 0 20px;
  text-align: center;
}

.modal__text {
  margin: 0;
  padding: 0 20px;
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 35px;
}

.modal__button {
  margin: 0 auto;
  display: block;
  cursor: pointer;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $white;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $button-green;
  border: 2px solid $button-green;
  border-radius: 1px;
  padding: 14px 0;
  width: 280px;

  &--failure {
    margin-top: 6px;
  }
}

.modal__inner {
  width: 100%;
  padding: 50px 0;
  background-color: $lightgrey;

  &--failure {
    background-color: $white;
    padding: 0;
    padding-bottom: 50px;
  }
}

.modal__br {
  display: none;
}

@media (min-width: $tablet-width) {
  .modal {
    max-width: 460px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal__wrapper {
    border-radius: 5px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;
    margin: 41px 0 22px;
  }

  .modal__text {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .modal__button {
    width: 300px;

    &--failure {
      margin-top: 3px;
    }
  }

  .modal__br--tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    max-width: 780px;
  }

  .modal__text {
    margin-bottom: 39px;
  }

  .modal__wrapper--failure .modal__text {
    margin-bottom: 63px;
  }

  .modal__button {
    width: 460px;

    &--failure {
      margin-top: 50px;
      width: 300px;
    }
  }

  .modal__br {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
