@use "../global/index.scss" as *;

.page {
  height: 100%;
}

.page__body {
  width: 320px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: $black;
  background-color: $white;
}
