@use "../global/index.scss" as *;

.price {
  background-color: $lightgrey;
}

.price__wrapper {
  width: 320px;
  padding-top: 80px;
  padding-bottom: 50px;
  overflow: hidden;
  margin: 0 auto;
}

.price__table-title {
  background: $darkblue;
  color: $white;
  text-transform: uppercase;
}

.price__table-tariff {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border: 2px $darkblue solid;
}

.price__table-price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.price__table-option {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $darkblue;
  border: 2px $darkgrey solid;
  background-color: $white;
}

.price__toggles {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .price__wrapper {
    width: $tablet-width;
    padding: 100px 20px 70px 20px;
    box-sizing: border-box;
  }

  .price__table-option {
    text-transform: none;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price__wrapper {
    width: $desktop-width;
    padding: 159px 130px 98px 130px;
  }
}
