@use "../global/index.scss" as *;

.price {
  background-color: $lightgrey;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 38px;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 100%);
    z-index: 0;
  }
}

.price__wrapper {
  padding-top: 120px;
  padding-bottom: 47px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.price__list {
  display: block;
  width: 832px;
  margin-left: -256px;
  margin-bottom: 41px;
  border-collapse: collapse;
}

.price__table-title {
  color: $white;
  text-transform: uppercase;
}

.price__table-tariff {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border: 2px $darkgrey solid;
  border-bottom: none;
  background: $darkblue;
  width: 276px;
  max-height: 94px;
  padding: 12px 0 0 0;

  &--empty {
    display: none;
    border: none;
    background: transparent;
  }

  &--hit {
    position: relative;
    overflow: hidden;
  }

  &--hit::after {
    content: "Хит";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $white;
    background-color: $pink;
    position: absolute;
    top: 17px;
    left: -27px;
    width: 103px;
    height: 24px;
    transform: rotate(-45deg);
  }
}

.price__table-price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin: -3px 0 29px 0;
}

.price__table-option {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $darkblue;
  border: 2px $darkgrey solid;
  background-color: $white;
  padding: 12px 17px 16px 20px;

  &--name {
    display: none;
  }

  &--true {
    background: url("../../img/yes.png") $white no-repeat center right 17px;
    width: 31px;
    height: 21px;
  }

  &--false {
    background: url("../../img/no.png") $white no-repeat center right 19px;
    width: 27px;
    height: 27px;
  }
}

.price__toggles {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .price::before {
    height: 58px;
    clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 100%);
  }

  .price__wrapper {
    width: $tablet-wrapper;
    padding: 110px 20px 67px 20px;
  }

  .price__list {
    width: $tablet-wrapper;
    margin: 0;
  }

  .price__table-tariff {
    padding: 12px 0 16px 0;
    max-width: 154px;

    &--empty {
      display: table-cell;
    }

    &--hit::after {
      top: 15px;
      left: -23px;
      width: 87px;
      height: 19px;
      line-height: 19px;
    }
  }

  .price__table-price {
    margin: -3px 0 -7px 0;
  }

  .price__table-option {
    text-transform: none;
    max-width: 152px;
    padding: 7px 17px 8px 20px;

    &--name {
      display: table-cell;
      padding-left: 15px;
      border: 2px $darkgrey solid;
    }

    &--true {
      background-position: center;
    }

    &--false {
      background-position: center;
    }
  }

  .price__table-option-name {
    display: none;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price::before {
    height: 75px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
  }

  .price__wrapper {
    width: $desktop-wrapper;
    padding: 145px 20px 95px 20px;
  }

  .price__list {
    width: $desktop-wrapper;
  }

  .price__table-tariff {
    max-width: 233px;
    font-size: 18px;
    padding: 17px 0 30px 0;

    &--hit::after {
      top: 18px;
      left: -24px;
      width: 104px;
      height: 24px;
      line-height: 24px;
    }
  }

  .price__table-price {
    font-size: 24px;
  }

  .price__table-option {
    max-width: 233px;
    padding: 13px 17px 16px 20px;

    &--name {
      font-size: 18px;
    }
  }
}
