@use "../global/index.scss" as *;

.research {
  display: none;
}

.research__wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;
  display: flex;
  gap: 72px;
  align-items: center;
}

.research__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.research__title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: $black;
}

.research__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $darkblue;
}

.research__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $pink;
}

.research__image {
  display: block;
}

.research__br {
  display: none;
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
    position: relative;
    z-index: 2;
    background-color: $white;
    margin-top: -75px;
  }

  .research__wrapper {
    width: $tablet-wrapper;
    padding: 54px 20px 0 20px;
  }

  .research__inner {
    max-width: 310px;
    padding-top: 17px;
  }

  .research__br--tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .research {
    background-color: $lightgrey;
    margin: 0;
  }

  .research__wrapper {
    width: $desktop-wrapper;
    padding: 8px 20px 67px 20px;
  }

  .research__inner {
    max-width: 540px;
    padding-top: 44px;
    gap: 30px;
  }

  .research__title {
    line-height: 30px;
    margin-bottom: 0px;
  }

  .research__description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0px;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;
  }

  .research__br {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
