@use "../global/index.scss" as *;

.reviews {
  margin-top: -53px;
  position: relative;
  z-index: 2;
  background-color: $white;
}

.reviews__wrapper {
  width: $mobile-wrapper;
  padding: 41px 20px 16px;
  margin: 0 auto;
}

.reviews__item {
  margin: 0;
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  text-align: center;
}

.reviews__author-name {
  color: $black;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.reviews__author-info {
  display: none;
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.reviews__text {
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}

.reviews__button {
  cursor: pointer;
  display: none;
}

.reviews__toggles {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin: 0;
  }

  .reviews__wrapper {
    width: $tablet-wrapper;
    padding: 99px 20px 0 20px;
  }

  .reviews__item {
    flex-direction: column-reverse;
    gap: 36px;
    margin-bottom: 33px;
  }

  .reviews__author-name {
    font-size: 20px;
  }

  .reviews__author-info {
    margin: 0;
    display: block;
  }

  .reviews__text {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    width: $desktop-wrapper;
    padding: 49px 20px 41px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      position: absolute;
      content: "";
      width: 79px;
      height: 63px;
      background: url("../../img/quotes.svg") no-repeat center;
      right: 50%;
      transform: translateX(50%);
      top: 72px;
    }
  }

  .reviews__list {
    max-width: 690px;
    margin: 0 auto;
  }

  .reviews__item {
    margin: 0;
    padding-top: 135px;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-info {
    font-size: 18px;
  }

  .reviews__button {
    position: relative;
    top: 17px;
    display: block;
    width: 22px;
    height: 41px;
    background-color: #ffffff;
    color: #283645;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 8px;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .reviews__toggles {
    display: none;
  }
}
