@use "../global/index.scss" as *;

.reviews__wrapper {
  width: $mobile-wrapper;
  padding: 50px 20px 16px;
  margin: 0 auto;
}

.reviews__item {
  margin: 0;
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  text-align: center;
}

.reviews__author-name {
  color: $black;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.reviews__author-info {
  display: none;
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.reviews__text {
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}

.reviews__toggles {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    width: $tablet-wrapper;
    padding: 109px 20px 0 20px;
  }

  .reviews__item {
    flex-direction: column-reverse;
    gap: 51px;
    margin-bottom: 49px;
  }

  .reviews__author-name {
    font-size: 20px;
  }

  .reviews__author-info {
    margin: 0;
    display: block;
  }

  .reviews__text {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    width: $desktop-wrapper;
    padding: 72px 20px 41px 20px;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-info {
    font-size: 18px;
  }
}
