@use "../global/index.scss" as *;

.upload {
  background-color: $lightgrey;
  margin-bottom: 6px;
}

.upload__wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;
  padding: 20px 20px 41px 20px;
  display: flex;
  flex-direction: column;
}

.upload__title {
  margin: 0;
  padding: 0 20px 41px 20px;
  background-color: $white;
  color: $darkblue;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.upload__image {
  margin-bottom: 32px;
}

.upload__form {
  width: 280px;
}

.upload__tools {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 27px;
}

.upload__tool {
  width: 48px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload__tool-item {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;

  &--crop {
    width: 44px;
    height: 44px;
  }

  &--fill {
    width: 48px;
    height: 43px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }
}

.upload__tool-item svg {
  fill: rgba($darkblue, 0.3);
}

.upload__tool--active svg {
  fill: $pink;
}

.upload__settings {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 56px;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.upload__setting-item {
  display: none;
  width: 240px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 200%;
    background-color: rgba($darkblue, 0.1);
    top: 48px;
    left: -200px;
  }

  &--active {
    display: block;
  }
}

.upload__input {
  width: 100%;
}

input[type="range"].upload__input {
  height: 14px;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
}

/*webkit*/
input[type="range"].upload__input::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $white;
  border: 2px solid $pink;
  margin-top: calc(2px * 0.5 - max(14px * 0.5, 2px));
}

input[type="range"].upload__input::-webkit-slider-runnable-track {
  height: 2px;
  border: none;
  border-radius: 0;
  background: $darkblue;
}

input[type="range"].upload__input::-webkit-slider-thumb:active {
  background: $pink;
}

/*mozilla*/
input[type="range"].upload__input::-moz-range-thumb {
  width: max(calc(14px - 2px - 2px), 0px);
  height: max(calc(14px - 2px - 2px), 0px);
  border-radius: 50%;
  background: $white;
  border: 2px solid $pink;
}

input[type="range"].upload__input::-moz-range-track {
  height: 2px;
  border: none;
  border-radius: 0;
  background: $darkblue;
}

input[type="range"].upload__input::-moz-range-thumb:active {
  background: $pink;
}

.upload__buttons {
  display: flex;
  flex-direction: column;
}

.upload__send {
  color: $pink;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  border: 3px solid $pink;
  border-radius: 30px;
  margin-bottom: 12px;
  padding: 16px 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

.upload__cancel {
  color: rgba($darkblue, 0.1);
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  border: 3px solid rgba($darkblue, 0.1);
  border-radius: 30px;
  padding: 16px 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

.upload__br {
  display: none;

  &--mobile {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .upload {
    margin-bottom: 0;
  }

  .upload__title {
    font-size: 18px;
    padding-bottom: 70px;
  }

  .upload__wrapper {
    width: $tablet-wrapper;
    flex-direction: row;
    gap: 47px;
    padding: 57px 20px 54px 20px;
  }

  .upload__image {
    display: block;
    margin: 0;
  }

  .upload__form {
    width: 260px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .upload__form-wrapper {
    display: flex;
    gap: 20px;
    min-height: 170px;
  }

  .upload__tools {
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  .upload__tool {
    width: 24px;
    height: 22px;
  }

  .upload__tool-item {
    &--crop svg {
      width: 22px;
      height: 22px;
      fill: $pink;
    }

    &--fill svg {
      width: 24px;
      height: 22px;
      fill: $pink;
    }

    &--contrast svg {
      width: 16px;
      height: 16px;
      fill: $pink;
    }
  }

  .upload__settings {
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }

  .upload__send {
    margin-bottom: 23px;
  }

  .upload__setting-item {
    display: block;
    width: 202px;

    &::after {
      width: 275px;
      left: -53px;
    }
  }
}

@media (min-width: $desktop-width) {
  .upload {
    margin: 0 auto;
    margin-bottom: 28px;
    background: none;
  }

  .upload__title {
    padding-bottom: 67px;
  }

  .upload__wrapper {
    width: $desktop-wrapper;
    padding: 57px 60px 57px 80px;
    background-color: $lightgrey;
    box-sizing: border-box;
    gap: normal;
    justify-content: space-between;
  }

  .upload__form {
    width: 410px;
    padding: 0;
  }

  .upload__form-wrapper {
    gap: 42px;
  }

  .upload__tools {
    gap: 27px;
  }

  .upload__tool {
    width: 48px;
    height: 44px;
  }

  .upload__tool-item {
    &--crop svg {
      width: 44px;
      height: 44px;
    }

    &--fill svg {
      width: 48px;
      height: 43px;
    }

    &--contrast svg {
      width: 32px;
      height: 32px;
    }
  }

  .upload__settings {
    padding-top: 7px;
    gap: 42px;
    justify-content: flex-start;
  }

  .upload__setting-item {
    width: 288px;
    margin: 0;

    &::after {
      width: 410px;
      left: -90px;
    }
  }

  .upload__buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .upload__send {
    width: 183px;
    margin: 0;
  }

  .upload__cancel {
    width: 183px;
  }
}
